body {
  overflow: hidden;
  min-height: 100vh;
}
.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s;

  /* hue-rotate permet de passer differente couleur selon le degré. */
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -250px;

    /* On cree une variable qui nous permettra d'injecter du code avec le JS */
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }  
}

